/* GLOBAL */
* { box-sizing: border-box; }
body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background-color: whitesmoke;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #434F54;
}
main {
    padding: 2em 1em 1em 1em;
    overflow: auto;
}
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
a { text-decoration: none; }
a:hover { font-weight: bold; }
ul { margin: 0; padding: 0; list-style-type: square;}
th { text-align: center;}
td { padding: 0.25em; }

/* HEADER */
header {
    background-image: url(images/head-bg.png);
    background-size: cover;
    height: 12em;
}
#page-description { margin: 6em 0 0 2em; }
#page-icon {
    width: 10em;
    z-index: 2;
}
#page-title { padding-left: 2em; }
#page-title h1, #page-title p { margin: 0.4em 0 0 0; }

/* MAIN NAVIGATOR */
#main-nav {
    position: sticky;
    top: 0;
}
#main-nav > nav {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.075);
    margin: 0;
    padding: 1em 0 1em 14em;
}
    #main-nav > nav > ul li { display: inline; margin-right: 2em; }
    #main-nav > nav > ul li a { color: #434F54; }
#main-nav > div {
    flex-direction: row-reverse;
    position: absolute;
    right: 1em;
    top: 5.5em;
}
#sidebar {
    flex-basis: 27.5%;

    height: 29em;
    overflow-y: scroll;
}
    #page-nav, #other-article, #contact { padding: 2em; }
    #page-nav ul, #other-article ul, #contact ul { padding: 0.5em 0 0 1.5em; }
    #page-nav h3, #other-article h3, #contact h3 { margin: 0; }

/* CONTENT */
#content { flex-basis: 75%; }

/* ASIDE */


/* FOOTER */
#footer {
    flex-grow: 1;

    background-color: #434F54;
    color: white;
    font-weight: bold;  
    padding: 2em;
    text-align: center;
}

/* STYLE */
.card {
    flex-grow: 1;

    box-shadow: 0 4px 8px 0 #00000020;
    background-color: white;
    margin: 0 1em 1.5em 1em;
    padding: 5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.container-column {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
    flex-direction: row;
}
.absolute { position: absolute; }
.auto-margin { margin: auto; }
.relative { position: relative; }
.soft-img { border-radius: 10px; }
.tiny-img { height: 2em; }

@media screen and (max-width: 1000px) {
    #page-description { flex-direction: column; margin: 3em 0 0 1.5em; }
        #page-icon { width:100px; }
        #page-title { padding: 0.5em 0; }
            #page-title p { display: none; }

    /* MAIN NAVIGATOR */
    #main-nav { padding: 1em; padding-left: 2em; }

    /* CONTENT */
    #main-container { flex-direction: column; }
        #article1, #article2 { padding: 2.5em; }
        #page-nav { display: none; }
}
