* { box-sizing: border-box; }

a { text-decoration: none; }
a:hover { font-weight: bold; }

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background-color: whitesmoke;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #434F54;
}

header { display: inline; }

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    padding: 1em;
    overflow: auto;
}

ul { margin: 0; padding: 0; list-style-type: square;}

th { text-align: center;}

td { padding: 0.25em; }

/* HEADER */
#page-icon { margin: 6em 0 0 2em; width: 10em; }
#page-title { margin: 6em 0 0 2em; padding: 0.25em 0 0 12em;}
#page-title h1, #page-title p { margin: 0.4em 0 0 0; }
#header-bg { height: 12em; }

/* MAIN NAVIGATOR */
#main-nav {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.075);
    margin: 0;
    padding: 1em 0 1em 14em;
    position: sticky;
    top: 0;
}
#main-nav ul li { display: inline; margin-right: 2em; }
#main-nav ul li a { color: #434F54; }

/* CONTENT */
#content { width: 75%; }

/* ASIDE */
aside { width: 25%; }
#page-nav, #other-article, #contact { padding: 2em; }
#page-nav ul, #other-article ul, #contact ul { padding: 0.5em 0 0 1.5em; }
#page-nav h3, #other-article h3, #contact h3 { margin: 0; }


/* FOOTER */
footer {
    background-color: #434F54;
    color: white;
    font-weight: bold;  
    padding: 2em;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 #00000020;
    background-color: white;
    margin: 1.5em 1em 1.5em;
    padding: 5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

.float-left { float: left;}

.float-right { float: right;}

.soft-img { border-radius: 10px; }

.tiny-img { height: 2em; }

.auto-margin { margin: auto; }

.stack-top { z-index: 2; }

.absolute { position: absolute; }

.relative { position: relative; }

@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
    #article1, #article2 { padding: 2em; }
    #main-nav { padding: 1em; }
}

.container-column {
    display: flex;
    flex-direction: column;

}

.container-row {
    display: flex;
    flex-direction: row;
}
